/* * * * PA Theme 2015 * * * */
html body {
  background: none;
}

/* Left menu */
#menu {
  float: left;
  width: 20%;
}

/* Left menu */
#header {
  float: right;
  width: 20%;
}

#planet_summary {
  float: right;
  width: 20%;
}

.pages {

}

#top {

}
